{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="row pb-4">
        <div class="col-sm-12">
            {% include "@FOSUser/Profile/show_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}
