{% extends "layout.html.twig" %}

{% block body %}

<div class="row pb-4">
    <div class="col-sm-6">               
        <ul class="nav">
            <li class="nav-item">
                <a><h2>Customers</h2></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">               
        <ul class="nav float-right">
          <li class="nav-item pl-2">
            <a class="btn btn-light" href="{{ path('customer_new') }}">
                <i class="fas fa-plus"></i> New customer
            </a>
          </li>        
        </ul>
    </div>
</div>
<div class="row pb-4">   
    <div class="col-sm-12">
        {% if users is not empty %}
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Company name</th>
                        <th scope="col">Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <a href="{{ path('customer_show', { 'id': user.id }) }}">
                                    {{ user.company }}
                                </a>
                            </td>
                            <td>{{ user.address }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}         
    </div>
</div>
    
{% endblock %}
